<% provide(:title, "Contact") %>
<!DOCTYPE html>
  <head>
    <title>Contact</title>
  </head>
  <body>
    <h1>Welcome to Hogwarts School of Witchcraft and Wizardry</h1>
    <p>
      This is the contact page for the
      Hogwarts School of Witchcraft and Wizardry
      sample application.
    </p>
  </body>
</html>