<% provide(:title, "Help") %>
<!DOCTYPE html>
  <head>
    <title>Help</title>
  </head>
  <body>
    <h1>Welcome to Hogwarts School of Witchcraft and Wizardry</h1>
    <p>
      This is the help page for the
      Hogwarts School of Witchcraft and Wizardry
      sample application.
    </p>
  </body>
</html>