
<div class="modal-body">
  <%= form_with(model: @spell, local: true) do |f| %>

    <div class="field">
      <%= f.text_area :content %>
    </div>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
</div>  