<footer class="footer">
  <small>
    Hogwarts School of Witchcraft and Wizardry</a>
    by <a href="https://www.linkedin.com/in/amirdrljevic/", target = "_blank">Amir Drljevic</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>